@font-face {
  font-family: "Poppins";
  src: url("../Poppins/Poppins-Black.ttf");
  src: url("../Poppins/Poppins-BlackItalic.ttf");
  src: url("../Poppins/Poppins-Bold.ttf");
  src: url("../Poppins/Poppins-BoldItalic.ttf");
  src: url("../Poppins/Poppins-ExtraBold.ttf");
  src: url("../Poppins/Poppins-ExtraBoldItalic.ttf");
  src: url("../Poppins/Poppins-ExtraLight.ttf");
  src: url("../Poppins/Poppins-ExtraLightItalic.ttf");
  src: url("../Poppins/Poppins-Italic.ttf");
  src: url("../Poppins/Poppins-Light.ttf");
  src: url("../Poppins/Poppins-LightItalic.ttf");
  src: url("../Poppins/Poppins-Medium.ttf");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-image: radial-gradient(#d32fc5, #4cb894);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s linear;
  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  -ms-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  transition-delay: 0.2s;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.formBx {
  width: 400px;
  height: 550px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transition: transform 0.5s linear;
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -ms-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.formBx.active {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
}

.formBx .face {
  height: 100%;
  width: 100%;
  padding: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.formBx .back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.formBx .form {
  width: 100%;
}
.formBx form {
  width: 100%;
}
.formBx .form h2 {
  font-size: 35px;
  color: #f7f7f7;
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}
.formBx .form .group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}
.formBx .form .group label {
  font-size: 13px;
  color: #f7f7f7;
  margin-bottom: 4px;
  letter-spacing: 2px;
}
.formBx .form .group input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.formBx .form .group .fa-eye{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 50px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.formBx .form button {
  width: 130px;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #fff;
  background-color: #222;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  opacity: .9;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
}
.formBx .form button:hover{
  opacity: 1;
}



.formBx .form .icon {
  margin-bottom: 12px;
}
.formBx .form .icon .or {
  display: flex;
  justify-content: center;
  justify-content: center;
  width: 100%;
  position: relative;
}
.formBx .form .icon .or::before,
.formBx .form .icon .or::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 120px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.formBx .form .icon .or::before {
  left: 0;
}
.formBx .form .icon .or::after {
  right: 0;
}
.formBx .form .icon .or span {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  z-index: 2;
}
.formBx .form .icon ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formBx .form .icon ul li a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 5px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  color: #fff;
  font-size: 14px;
}
.formBx .form p {
  font-size: 13px;
  font-weight: lighter;
  color: #f7f7f7;
  letter-spacing: 1px;
  margin: 5px 0;
}
.formBx .form a {
  color: #333;
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
}
.formBx .form a:hover {
  color: #111;
}

@media (max-width: 767px) {
  .formBx {
    width: 300px;
  }
  .formBx .face {
    padding: 50px 20px;
  }
  .formBx .form h2 {
    font-size: 25px;
  }
  .formBx .form button {
    font-size: 12px;
    height: 35px;
    width: 100px;
  }
  .formBx .form .icon .or::before,
  .formBx .form .icon .or::after {
    width: 90px;
  }
  .formBx .form p {
    font-size: 10px;
  }
}
